<div class="welcome">

  <section class="hero">
  <h1>☁️ PhotoCloud</h1>

  <p>
    Upload, browse and search your images 
    <span class="dynamic-word" [style.color]="currentColor">
      {{ currentWord }}
    </span>
  </p>
</section>

  <!-- FEATURES -->
  <section class="features">
    <h2>Features</h2>

    <div class="cards">

      <div class="card">
        <div class="icon">📤</div>
        <h3>Upload</h3>
        <p>Add your images quickly and securely.</p>
      </div>

      <div class="card">
        <div class="icon">🖼️</div>
        <h3>Gallery</h3>
        <p>Browse all your photos easily.</p>
      </div>

      <div class="card">
        <div class="icon">🔍</div>
        <h3>Search</h3>
        <p>Find images by tags instantly.</p>
      </div>

    </div>
  </section>

  <!-- ABOUT -->
  <section class="about">
    <p>📚 Project made at EPSI</p>
    <p>
      By 
      <a href="https://github.com/Formidabledu59" target="_blank">
        Ayoub FATHALLAH
      </a>
      and 
      <a href="https://github.com/Zagoki" target="_blank">
        Matthéo COPPIN
      </a>
    </p>
  </section>

</div>